html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  font-family: 'Varela Round', sans-serif; }

.hero {
  background: url(../img/Flappybird-Background.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero .hero-cta-text {
    max-width: 50%; }
  .hero .hero-cta-text h1 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    color: #FFFFFF; }
  .hero .hero-cta-text p {
    color: #FFFFFF;
    text-align: center;
    font-size: .8em;
    line-height: 2px; }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .hero .hero-cta-text {
      padding: 5em; }
      .hero .hero-cta-text h1 {
        font-size: 4em; }
      .hero .hero-cta-text p {
        font-size: 1em; } }
  @media screen and (min-width: 1201px) {
    .hero .hero-cta-text h1 {
      font-size: 4em;
      letter-spacing: 30px; }
    .hero .hero-cta-text p {
      font-size: 1.3em; } }

.about {
  background-color: #654e56; }
  .about img {
    height: 110px;
    display: block;
    margin: 0 auto;
    padding-top: 30px; }
  .about .bird-container {
    padding-top: 30px; }
  .about .about-text-container {
    color: #FFFFFF; }
    .about .about-text-container p {
      text-align: center;
      max-width: 50%;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 30px; }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .about .bird-container {
      padding-top: 3em; }
    .about .about-text-container p {
      padding-bottom: 4.5em; } }
  @media screen and (min-width: 1201px) {
    .about {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 9em 0;
      max-width: none; }
      .about::after {
        clear: both;
        content: "";
        display: table; }
      .about .bird-container {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .about .bird-container:last-child {
          margin-right: 0; }
      .about .about-text-container {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 65.8807828007%; }
        .about .about-text-container:last-child {
          margin-right: 0; }
      .about .bird-container,
      .about img {
        padding: 0; }
      .about p {
        font-size: 1.75em; } }

.features {
  background-color: #71c5cf; }
  .features h2 {
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    padding: 30px 0 30px 0;
    font-size: 1.75; }
  .features img {
    height: 60%;
    width: 60%;
    display: block;
    margin: 0 auto; }
  .features p {
    text-align: center;
    color: #FFFFFF;
    font-size: 1em; }
  .features #style-anger {
    padding-bottom: 30px;
    margin-bottom: 0; }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .features img {
      width: 40%; } }
  @media screen and (min-width: 1201px) {
    .features .feature-container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; }
      .features .feature-container::after {
        clear: both;
        content: "";
        display: table; }
      .features .feature-container .feat-1 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .features .feature-container .feat-1:last-child {
          margin-right: 0; }
      .features .feature-container .feat-2 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .features .feature-container .feat-2:last-child {
          margin-right: 0; }
      .features .feature-container .feat-3 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .features .feature-container .feat-3:last-child {
          margin-right: 0; }
      .features .feature-container img {
        width: 95%; }
      .features .feature-container p {
        font-size: 1.5em; }
    .features h2 {
      font-size: 3em; } }

.cta {
  background-color: #d4ac57;
  padding-bottom: 10px; }
  .cta p {
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
    padding-top: 30px; }
  .cta button {
    display: block;
    margin: 2em auto; }
  @media screen and (min-width: 1201px) {
    .cta p {
      font-size: 1.75em; } }

.footer-container p {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
